---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImage = new URL("/og.png", Astro.url);
const { title, description } = Astro.props;

// Supports weights 100-900
import "@fontsource-variable/noto-serif";

import "@fontsource/roboto/100.css";
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import "@fontsource/roboto/900.css";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/developer-amber.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph -->
<link rel="canonical" href={canonicalURL} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:image" content={ogImage} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<ClientRouter />

<script>
  // Prevent duplicate font preloading during Astro page navigation
  document.addEventListener("astro:before-swap", (e) => {
    [...e.newDocument.head.querySelectorAll('link[as="font"]')].forEach(
      (link) => link.remove(),
    );
  });
</script>

<script is:inline>
  function init() {
    preloadTheme();
    animate();

    const backToTop = document.getElementById("back-to-top");
    backToTop?.addEventListener("click", (event) => scrollToTop(event));

    const backToPrev = document.getElementById("back-to-prev");
    backToPrev?.addEventListener("click", () => window.history.back());

    const lightThemeButton = document.getElementById("light-theme-button");
    lightThemeButton?.addEventListener("click", () => {
      localStorage.setItem("theme", "light");
      toggleTheme(false);
    });

    const darkThemeButton = document.getElementById("dark-theme-button");
    darkThemeButton?.addEventListener("click", () => {
      localStorage.setItem("theme", "dark");
      toggleTheme(true);
    });

    const systemThemeButton = document.getElementById("system-theme-button");
    systemThemeButton?.addEventListener("click", () => {
      localStorage.setItem("theme", "system");
      toggleTheme(window.matchMedia("(prefers-color-scheme: dark)").matches);
    });

    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", (event) => {
        if (localStorage.theme === "system") {
          toggleTheme(event.matches);
        }
      });

    window.addEventListener("load", checkScrollable);
    window.addEventListener("resize", checkScrollable);
    document.addEventListener("astro:after-swap", checkScrollable);
  }

  function animate() {
    const animateElements = document.querySelectorAll(".animate");

    animateElements.forEach((element, index) => {
      setTimeout(() => {
        element.classList.add("show");
      }, index * 150);
    });
  }

  function checkScrollable() {
    const backToTop = document.getElementById("back-to-top");
    const isScrollable =
      document.documentElement.scrollHeight > window.innerHeight;

    if (isScrollable) {
      document.documentElement.classList.add("scrollable");
      backToTop?.removeAttribute("tabindex");
    } else {
      document.documentElement.classList.remove("scrollable");
      backToTop?.setAttribute("tabindex", "-1");
    }
  }

  function scrollToTop(event) {
    event.preventDefault();

    const isKeyboard = event.type === "keydown" || event.detail === 0;

    window.scrollTo({ top: 0, behavior: "smooth" });

    if (isKeyboard) {
      setTimeout(() => {
        const firstFocusable = document.querySelector(
          'a, button, input, select, textarea, [tabindex]:not([tabindex="-1"])',
        );
        firstFocusable?.focus();
      }, 250);
    }
  }

  function toggleTheme(dark) {
    const css = document.createElement("style");

    // Create a temporary <style> element to disable all CSS transitions.
    // This prevents flickering or smooth animations when toggling the theme.
    // Without this, users might see a flashing effect as styles change.
    css.appendChild(
      document.createTextNode(
        `* {
         -webkit-transition: none !important;
         -moz-transition: none !important;
         -o-transition: none !important;
         -ms-transition: none !important;
         transition: none !important;
      }`,
      ),
    );

    document.head.appendChild(css);

    if (dark) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }

    window.getComputedStyle(css).opacity;
    document.head.removeChild(css);
  }

  function preloadTheme() {
    const userTheme = localStorage.theme;

    if (userTheme === "light" || userTheme === "dark") {
      toggleTheme(userTheme === "dark");
    } else {
      toggleTheme(window.matchMedia("(prefers-color-scheme: dark)").matches);
    }
  }

  document.addEventListener("DOMContentLoaded", () => init());
  document.addEventListener("astro:after-swap", () => init());
  preloadTheme();
</script>
